<div class="container game-container">
    <div>
        <uib-carousel interval="myInterval">
            <uib-slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}">
            </uib-slide>
        </uib-carousel>
    </div>
    <div class="row">
        <ul class="game-tab">
            <li class="hvr-pop" ng-click="changeTabTo('Slots')">SLOTS</li>
            <li class="hvr-pop" ng-click="changeTabTo('Table Games')">TABLE GAMES</li>
            <li class="hvr-pop" ng-click="changeTabTo('Video Pokers')">VIDEO POKERS</li>
            <li class="hvr-pop" ng-click="changeTabTo('Scratchcards')">SCRATCHCARDS</li>
            <li class="hvr-pop" ng-click="changeTabTo('Others')">OTHERS</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="game-list">
                <li class="hvr-hang" ng-repeat="game in availableGame">
                    <a target="_blank" ng-href="{{'/play-game/#/playtech/' + game.game_code}}">
                        <img ng-src="{{'/images/gametech/' + game.game_code + '.jpg'}}" />
                    </a>
                    <p>{{game.game_name.substring(0,20)}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
