<div class="container main-content">
    <div class="row">
        <ul class="game-tab">
            <li ng-click="changeTabTo(title)" ng-repeat="title in titles">{{ title }}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="game-list">
                <li ng-repeat="game in availableGame">
                    <a ng-href="">
                        <img ng-src="{{'/images/gametech/' + game.game_code + '.jpg'}}" />
                    </a>
                    <p>{{game.game_name.substring(0,20)}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
