<div class="copyright text-center container">
	<div class="col-md-6 col-sm-6">
		<div class="row">
			<h4 class="title">Powered By:</h4>
			<div class="col-md-12">
				<img src="/images/powered_by.jpg">
			</div>
		</div>
		
	</div>
	<div class="col-md-3 middle col-sm-3">
		<div class="row">
			<h4 class="title">Banking</h4>
			<div class="col-md-12">
				<div class="left">
					<img src="/images/bank_1.jpg">
				</div>
				<div class="left">
					<img src="/images/bank_2.jpg">
				</div>
				<div class="left">
					<img src="/images/bank_3.jpg">
				</div>
				<div class="left">
					<img src="/images/bank_5.jpg">
				</div>
				<div class="left">
					<img src="/images/bank_4.jpg">
				</div>
				<div class="left">
					
				</div>
			</div>
			<h4 class="title">Media Sosial:</h4>
			<div class="col-md-12 sosial">
				<div class="left">
					<a href="#" target="_blank"><img src="/images/connect_fb.jpg"></a>
				</div>
				<div class="left">
					<a href="#" target="_blank"><img src="/images/connect_blog.jpg"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 footer-contact col-sm-3">
		<h3 class="title">Contact us:</h3>
		<div class="footer_contact_2">
			<div class=""><img src="/images/footer_yahoo.png"></div>
			<div class="footer_contact_detail_2">call Hokibet</div>
		</div>
		<div class="footer_contact">
			<div class=""><img src="/images/footer_whatsapp.png"></div>
			<div class="footer_contact_detail_2">call Hokibet</div>
		</div>
		<div class="footer_contact clearfix">
			<div style="padding: 5px;" class=""><img src="/images/footer_bbm.png"></div>
			<div class="footer_contact_detail_2">          </div>
		</div>
	</div>
</div>
<div class="copyright-content">
	<div class="containWrap">
		<div class="center">
			
					<a href="#about-us">
						{{ 'ABOUT' | translate }}
					</a>
				
					<a href="#term-condition">
						{{ 'TERM' | translate }}
					</a>
				
					<a href="#privacy-policy">
						{{ 'PRIVACY' | translate }}
					</a>
				
					<a href="#resposible-gambling">
						{{ 'RESPOSIBLE' | translate }}
					</a>
			
		</div>
		<div class="copyright_txt">© Copyright 2016 Hokibet188</div>
	</div>
</div>
<div id='loading'>
	<div class="spinner">
	  	<div class="rect1"></div>
	  	<div class="rect2"></div>
	  	<div class="rect3"></div>
	  	<div class="rect4"></div>
	  	<div class="rect5"></div>
	</div>
</div>

<!-- Application Dependencies -->
<script src="/bower_components/socket.io-client/socket.io.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/bolster.bxSlider/jquery.bxslider.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/ng-socket/ngSocket.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/satellizer/satellizer.min.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-translate/angular-translate.min.js"></script>
<script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="/js/app/service/ng-dialog/js/ngDialog.min.js"></script>
<script src="/js/app/service/SweetAlertModule.js"></script>
<script src="/js/app/service/ngSweetAlert-master/SweetAlert.min.js"></script>

<!-- Application Angular -->
<script src="/js/app/app.js"></script>


<!-- Application Controller -->
<script src="/js/app/controller/authController.js"></script>

