<div class="container">
    <div class="row header-content" ng-controller="AuthController">
        <div class="col-md-3">
            <a href="#home">
                <img style="width:225px;padding: 10px 0;" src="/images/logo-hokibet188.png">
            </a>
        </div>
        <div class="col-md-9">
            <div class="row contact">
                <ul class="right">
                    <li>
                        <a href="/GetLiveChat" class="ico-livechat" target="livechat">LIVE HELP</a>
                    </li>
                    <li>
                        <a target="_blank" href="help/rulesSportsbook">{{ 'BETTING_RULES' | translate }}</a>
                    </li>
                    <li>
                        <a target="_blank" href="help/contact">{{ 'CONTACT_US' | translate }}</a>
                    </li>
                    <li>
                        <div class="btn-group ico-dropdown show-dropdown">
                            <div>
                                <img ng-src="images/flag/hdr_lag_{{ lang }}.gif">
                                <span class="ico-down"></span>
                            </div>
                            <ul class="dropdown-menu lang-option" role="menu">
                                <li ng-click="changeLanguage('en')"><img src="images/flag/hdr_lag_en.gif" ></li>
                                <li ng-click="changeLanguage('in')"><img src="images/flag/hdr_lag_in.gif" ></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row info-user">

                <form ng-show="!currentUser" id="login-form" class="right">
                    <input placeholder="USERNAME"  ng-model="username" type="text" maxlength="30" required >
                    <input placeholder="PASSWORD" ng-model="password" type="password" maxlength="256" required>
                    <button ng-click="login()" class="btn">{{ 'SIGNIN' | translate }}</button>
                    <img src="images/hdr_icon_lock.png" width="16" height="16" border="0">
                </form>
                <div ng-if="currentUser">
                    <div class="col-md-offset-3 col-md-4 col-sm-offset-3 col-sm-4">
                        <p ng-cloak class="right">{{'Hi ,' + currentUser.username}}</p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <p class="left">
                            <span ng-cloak id="main-balance">{{ currentUser.main_balance | number:2 }}</span>
                            <span ng-cloak id="currency">{{currentUser.currency}}</span>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <a ng-click="logout()" id="logout" class="btn white right" href="">{{ 'SIGNOUT' | translate }}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-notice col-md-6">
                    <span>NOTICE</span>
                    <em id="Notice">
                        <marquee scrollamount="2" onmouseout="this.start()" onmouseover="this.stop()">{{ 'CONTENT_MARQUEE' | translate }}</marquee>
                    </em>
                </div>
                <div class="col-md-6">
                    <a ng-if="!currentUser" class="light right" href="ForgetPassword">{{ 'FORGOT_PASS' | translate }}</a>
                    <div class="row" ng-if="currentUser">
                        <ul class="method right">
                            <li>
                                <a href="#deposit">{{ 'DEPOSIT' | translate }}</a>
                            </li>
                            <li>
                                <a href="#transfer">{{ 'TRANSFER' | translate }}</a>
                            </li>
                            <li>
                                <a href="#withdraw">{{ 'WITHDRAWN' | translate }}</a>
                            </li>
                            <li>
                                <a href="#profile">{{ 'PROFILE' | translate }}</a>
                            </li>
                            <li class="relative show-dropdown">
                                <a class="pointer hvr-icon-hang" ng-init="showMenuReport = false">Report</a>
                                <ul class="sub-top-menu">
                                    <li><a href="#report/deposit">{{ 'DEPOSIT' | translate }}</a></li>
                                    <li><a href="#report/withdrawn">{{ 'WITHDRAWN' | translate }}</a></li>
                                    <li><a href="#report/transfer">{{ 'TRANSFER' | translate }}</a></li>
                                    <li><a href="#report/bonus">Bonus</a></li>
                                    <li><a href="#report/betting">Betting result</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="ico-home hvr-push" ui-sref="home">
                        </a>
                    </li>
                    <li class="dropdown ">
                        <a class="ico-mobile hvr-push" ui-sref="mobileDownload">
                        </a>
                    </li>
                    <li class="dropdown ">
                        <a class="dropdown-toggle hvr-push" data-toggle="dropdown" ui-sref="gameSportsBookWFT">
                        SPORTS
                        </a>
                    </li>
                    <li class="dropdown ">
                        <a class="dropdown-toggle hvr-push" data-toggle="dropdown" ui-sref="gameCasino">
                        {{ 'LIVE_CASINO' | translate }} <sup class="new">NEW</sup>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="hvr-bounce-in">
                                <a target="_blank" href="/play-game/#/playtech/7bal">
                                    <img src="images/nav/PT CASINO.png">
                                    <p>PT CASINO</p>
                                </a>
                            </li>
                            <li class="hvr-bounce-in">
                                <a target="_blank" href="/play-game/#/allbet">
                                    <img src="images/nav/allbet_casino.png">
                                    <p>ALLBET CASINO</p>
                                </a>
                            </li>
                            <li class="hvr-bounce-in">
                                <a href="#">
                                    <img src="images/nav/ag_casino.png">
                                    <p>AG CASINO</p>
                                </a>
                            </li>
                            <li class="hvr-bounce-in">
                                <a href="#">
                                    <img src="images/nav/GP Casino.png">
                                    <p>GP CASINO</p>
                                </a>
                            </li>
                            <li class="hvr-bounce-in">
                                <a href="#">
                                    <img src="images/nav/MG CASINO.png">
                                    <p>MG CASINO</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a class="dropdown-toggle hvr-push" data-toggle="dropdown" ui-sref="gameSlotPlaytech">
                        {{ 'SLOT_GAME' | translate }} <sup class="new">NEW</sup>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="hvr-bounce-in">
                                <a ui-sref="gameSlotPlaytech">
                                    <img src="images/nav/PT CASINO.png">
                                    <p>PT CLUB</p>
                                </a>
                            </li>
                            <li class="hvr-bounce-in">
                                <a href="#">
                                    <img src="images/nav/ag_casino.png">
                                    <p>AG CLUB</p>
                                </a>
                            </li>
                            <li class="hvr-bounce-in">
                                <a href="#">
                                    <img src="images/nav/GP Casino.png">
                                    <p>GP CLUB</p>
                                </a>
                            </li>
                            
                            <li class="hvr-bounce-in">
                                <a href="#">
                                    <img src="images/nav/MG CASINO.png">
                                    <p>MG CLUB</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a class="dropdown-toggle hvr-push" data-toggle="dropdown" href="#">
                        {{ 'LOTTERY' | translate }}
                        </a>
                    </li>
                    <li class="dropdown ">
                        <a class="dropdown-toggle hvr-push" data-toggle="dropdown" href="#">
                        POKER
                        </a>
                    </li>
                    <li class="dropdown ">
                        <a class="dropdown-toggle hvr-push" data-toggle="dropdown" ui-sref="promotion">
                        {{ 'PROMOTION' | translate }}
                        </a>
                    </li>
                    <!-- <li class="dropdown alert-main ">
                        <a href="#">
                        {{ 'REFERRAL' | translate }}
                        </a>
                    </li> -->
                    <li ng-if="!currentUser" class="dropdown alert-main">
                        <a class="hvr-push" href="#register">
                        {{ 'JOIN_NOW' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
