<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="Huquduy">

<title>hokibet188</title>
<link rel="shortcut icon" type="image/x-icon" href="/admin/imgs/logo.png')}}" />
<!-- Import font -->
<link rel="stylesheet" href="/font/font-awesome-4.5.0/css/font-awesome.min.css">

<!-- AngularJs area -->
<link rel="stylesheet" href="/js/app/service/ng-dialog/css/ngDialog.css">
<link rel="stylesheet" href="/js/app/service/ng-dialog/css/ngDialog-theme-flat.css">
<link rel="stylesheet" href="/js/app/service/ng-dialog/css/ngDialog-theme-default.css">
<link rel="stylesheet" href="/js/app/service/ng-dialog/css/ngDialog-theme-plain.css">
<link rel="stylesheet" href="/js/app/service/ng-dialog/css/ngDialog-custom-width.css">
<link rel="stylesheet" href="/js/app/service/ngSweetAlert-master/SweetAlert.css">

<!-- Import Css -->
<link rel="stylesheet" href="/bower_components/animate.css/animate.css">
<link rel="stylesheet" href="/bower_components/hover/css/hover-min.css">
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bower_components/bolster.bxSlider/jquery.bxslider.css">
<link rel="stylesheet" href="/styles/importer.css">

<script type="text/javascript">
	var baseUrl = "<%=req.baseUrl%>/";
</script>