<!DOCTYPE html>
<html>

    <!--HEAD-->
    <head>
        <%- partial ('partials/head.ejs') %>
    </head>
    <!--HEAD END-->

    <body ng-cloak style="background:none">

        <%- body %>
    
    </body>
    <footer>
        <!--FOOTER-->
        <%- partial ('partials/footer.ejs') %>
        <!--FOOTER END-->
    </footer>
</html>
