<div ui-view>
	<div class="container">
	<div class="row">
	    <iframe class="game-frame" name="sportFrame" src='http://www.studiocupo.com/wp-content/uploads/2015/03/loader1400x630.gif' ng-src="{{ trustSrc(srcIframe) }}" frameborder="0"></iframe>
	    </div>
	</div>
</div>