%extend_in_wrap_1 {
    margin-bottom: 10px;
    margin-left: 20px;
    line-height: 25px;
    list-style: outside decimal;
}
.wrap {
    border: 1px solid #7f745f;
    padding: 0;
    color: #CEC09E;
    border-bottom: none;
    background: $background;
    ul {
    	li{
    		@extend %extend_in_wrap_1;
    	}
    }
    p{
    	@extend %extend_in_wrap_1;
    }
}