<div class="container main-content">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <h3 style="margin-bottom: 30px;">{{ 'YOUR_ACCOUNT' | translate }}</h3>
                    <div class="credit-user">
                        <div class="game-site">
                            <p>Sportsbook</p>
                            <p>500.000.000 IDR</p>
                        </div>
                        <div class="game-site">
                            <p>Gameplay Casino</p>
                            <p>700.000.000 IDR</p>
                        </div>
                        <div class="game-site">
                            <p>Royal Casino</p>
                            <p>500.000.000 IDR</p>
                        </div>
                        <div class="game-site">
                            <p>Lottery</p>
                            <p>900.000.000 IDR</p>
                        </div>
                        <div class="game-site">
                            <p>Slot</p>
                            <p>800.000.000 IDR</p>
                        </div>
                        <div class="game-site">
                            <p>Allbet Casino</p>
                            <p>900.000.000 IDR</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="row">
                    <div class="col-md-offset-1">
                        <h3>{{ 'DEPOSIT_TO_US' | translate }}</h3>
                    </div>
                </div>
                <form name="ticket" class="frm-trans">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            {{ 'PAYMENT_METHOD' | translate }}<sup class="required">*</sup>
                        </div>
                        <div class="col-md-6">
                            <select ng-model="deposit.payment_method">
                                <option value="Local Transfer">Local Transfer</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            {{ 'FROM_BANK' | translate }}<sup class="required">*</sup>
                        </div>
                        <div class="col-md-6">
                            <input disabled type="text" ng-model="deposit.from_bank" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            {{ 'BANK_ACC_NAME' | translate }}<sup class="required">*</sup>
                        </div>
                        <div class="col-md-6">
                            <input disabled type="text" ng-model="deposit.bank_account_name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            {{ 'BANK_ACC_NO' | translate }}<sup class="required">*</sup>
                        </div>
                        <div class="col-md-6">
                            <input disabled type="text" ng-model="deposit.bank_account_number" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            {{ 'CURRENCY' | translate }}<sup class="required">*</sup>
                        </div>
                        <div class="col-md-6">
                            <input disabled="true" type="text" ng-model="deposit.currency" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            {{ 'TO_BANK' | translate }}<sup class="required">*</sup>
                        </div>
                        <div class="col-md-6">
                            <select ng-change="changeSystemBanking()" ng-model="deposit.to_bank" ng-options="banking.bank_name as banking.bank_name for banking in systemBankings">
                            </select>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="ip-notice">
                                <p>+ {{ 'ACC_NAME' | translate }} : </p>
                                <p>+ {{ 'ACC_NUMBER' | translate }} : </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ip-notice">
                                <p>{{systemBankingDetail.account_name}}</p>
                                <p>{{systemBankingDetail.account_number}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            {{ 'AMOUNT' | translate }}<sup class="required">*</sup>
                        </div>
                        <div class="col-md-6">
                            <input required type="text" name="cash" ng-model="deposit.amount" placeholder="Enter Amount" />
                            <div class="ip-notice">
                                <p>(IDR 1000 = 1 unit)</p>
                                <p>Min : {{limit.deposit_min + ' ' + limit.currency}} <i ng-class="{error: deposit.amount<limit.deposit_min && ticket.cash.$dirty, success: deposit.amount>=limit.deposit_min && ticket.cash.$dirty}" class="fa fa-check"></i></p>
                                <p>Max : {{limit.deposit_max + ' ' + limit.currency}} <i ng-class="{error: deposit.amount>limit.deposit_max && ticket.cash.$dirty, success: deposit.amount<=limit.deposit_max && ticket.cash.$dirty}" class="fa fa-check"></i></p>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="deposit.bonus_info == null || deposit.bonus_info == ''">
                        <div class="col-md-11 col-md-offset-1">
                            <input type="checkbox" ng-model="deposit.extra_bonus">
                            <span>{{ 'EXTRA' | translate }}</span>
                            <div class="ip-notice">
                                {{ 'CLAIM' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            {{ 'CONFIRM_PASS' | translate }}<sup class="required">*</sup>
                        </div>
                        <div class="col-md-6">
                            <input required type="password" ng-model="deposit.password" placeholder="Enter Your Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <button ng-click="submitDeposit()" class="btn" type="submit">{{ 'SUBMIT' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
