<div class="container">
	<hokibetslide></hokibetslide>
	<div class="row">
		<div class="progressive-en progressive m-top-10">
			<div class="jackpot_gif">
				<h4 class="number" id="progressive_jackpot">285,621,980,181.18 IDR</h4>
			</div>
        </div>
	</div>
	<div class="row middle">
		<div class="col-md-2 col-sm-4 mid-sport">
			<a href="#/game/sportsbook/wtf"><p>{{ 'SPORTSBOOK' | translate }}</p></a>
		</div>
		<div class="col-md-2 col-sm-4 mid-casino">
			<a href="#/casino"><p>{{ 'LIVE_CASINO' | translate }}</p></a>
		</div>
		<div class="col-md-2 col-sm-4 mid-slot">
			<a href="#/slot/playtech"><p>{{ 'SLOT_GAME' | translate }}</p></a>
		</div>
		<div class="col-md-2 col-sm-4 mid-lottery">
			<a href="#"><p>{{ 'LOTTERY' | translate }}</p></a>
		</div>
		<div class="col-md-2 col-sm-4 mid-poker">
			<a href="#"><p>POKER</p></a>
		</div>
		<div class="col-md-2 col-sm-4 mid-promo">
			<a href="#/promotion"><p>{{ 'PROMOTION' | translate }}</p></a>
		</div>
	</div>
</div>
<div class="about-us">
	<div class="container">
		<h3 class="center">{{ 'WELCOME_MSG' | translate }}</h3>
		<p class="center">{{ 'SUB_WELCOME_MSG_1' | translate }}</p>
		<p>{{ 'SUB_WELCOME_MSG_2' | translate }}</p>
		<p>{{ 'SUB_WELCOME_MSG_3' | translate }}</p>
		<p>{{ 'SUB_WELCOME_MSG_4' | translate }}</p>
	</div>
</div>