<div class="container promotion">
    <uib-accordion close-others="true">
        <uib-accordion-group>
            <uib-accordion-heading>
                <img src="/images/promo/EXTRA _BONUS_PROMO.png">
            </uib-accordion-heading>
            <ul>
                <h4 class="bold">EXTRA BONUS 100% WITHDRAW KAPAN SAJA</h4>
                <li>1.Persyaratan Rollover/Perputaran 25X DARI DEPOSIT PERTAMA berlaku untuk semua provider kecuali TOGEL/SG4D,POKER Contoh: ( Deposit IDR 100 + Bonus IDR 100 ) x 25 TO = IDR 5,000</li>
                <li>2.Bonus tambahan ini berlaku untuk setiap member baru </li>
                <li>3.Bonus 100% = max IDR 10juta</li>
                <li>4.Bonus akan diberikan secara otomatis setiap hari senin diatas jam 12:00 wib ,setelah mencapai target rollover/perputaran</li>
                <li>5.Tidak ada komisi dan cash back 5% selama periode extra bonus.</li>
                <li>6.Jika tidak mencapai pun, bisa di Withdraw setiap saat, Dan Rollover/Perputaran bisa dilanjutkan di deposit selanjut nya sampai Rollover anda tercapai. BONUS TIDAK AKAN DIBERIKAN APABILA KEDAPATAN BERTARUH DI DUA SISI (SAFETY BET) </li>
                <li>7.Hokibet188.com memegang hak tak terbantahkan untuk membatalkan promosi bila di temukan safety bet dan penipuan lainnya.</li>
            </ul>    
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                <img src="/images/promo/WELCOME_BONUS.png">
            </uib-accordion-heading>
            <ul>
                <h4 class="bold cap">Welcome Bonus 100%  </h4>
                <li>syarat dan ketentuan :</li>
                <li>1.Promo berlaku untuk member baru Sportsbook ,live casino,keno,slot games</li>
                <li>2.Members wajib memilih "claim Welcome Bonus 100%" sewaktu reguest transfer ke games </li>
                <li>Minimal Setoran Adalah IDR 100.000 (100 c) Dan Maximum bonus yang diberikan adalah rp 1.000.000 (1.000 c)</li>
                <li>3.Bonus Welcome 100% langsung diberikan ke acc member </li>
                <li>4.Credit dapat di withdraw setelah credit + bonus mencapai turn over sebanyak 20x </li>
                <li>Contoh </li>
                <li>-  depo 100 RP (100 c) + bonus depo 100% = RP. 200.000 (200 c)</li>
                <li>-  turn over RP.200,000 (200 c) x 20 = RP 4.000.000 (4.000 c) </li>
                <li>5.Turn over yang dilakukan bukan berupa manipulasi / penipuan / dan tidak boleh safety bet (no risk bet) </li>
                <li>Promo lain tidak berlaku saat mengikuti promo ini kecuali komisi </li>
                <li>6.Pihak Hokibet188 berhak secara sepihak membatalkan bonus dan kemenangan apabila ditemukan kesamaan (ip , no telp, no rek, email) dan bagi yang melanggar syarat/peraturan ini </li>
                <li>7.Pihak Hokibet188.com berhak mengubah atau menambahkan aturan dalam promo ini kapan saja tanpa pemberitahuan terlebih dahulu.</li>
                <li>8.Keputusan Hokibet188.com adalah mutlak dan tidak dapat di ganggu gugat.</li>
            </ul>    
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                <img src="/images/promo/BONUS_TOPUP.png">
            </uib-accordion-heading>
            <ul>
                
            </ul>    
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                <img src="/images/promo/CASHBACK TOTAL_LOSE.png">
            </uib-accordion-heading>
            <ul>
                <h4 class="bold cap">Cash Back 5% (total lose)</h4>
                <li>Promo Cash Back 5% total lose berlaku untuk semua member Hokibet188</li>
                <li>Claim Cash Back 5% : Minimum Lose / Kalah RP.1000.000. Cara Hitung : WinLose dari hari Senin sampai Senin jam 12:00 wib untuk Casino dan Senin sampai Minggu untuk Sportsbook.</li>
                <li>Contoh:</li>
                <li>- Anda mengalami Total kekalahan Rp 1jt maka, Rp 1.000.000 x 5% = Rp 50,000</li>
                <li>- (Cashback yang anda dapatkan Rp 50.000 | Bonus Cash Back anda akan di masukan ke dalam ID</li>
                <li>ACC anda setiap hari senin sore).</li>
                <li>Minimum CashBack yang kami berikan RP.50,000 dan maksimum RP. 5,000,000</li>
                <li>Cashback 5% baru dapat di klaim apabila member telah mencapai syarat Turnover.</li>
                <li>- Live Casino : Syarat 10 (Sepuluh) kali Turnover</li>
                <li>- Sportsbook : Syarat 5 (Lima) kali Turnover</li>
                <li>- Keno : Syarat 10 (sepuluh) kali Turn Over</li>
                <li>- Slot games : Syarat 10 (sepuluh) kali Turn Over</li>
                <li>- Cock Fight : Syarat 10(sepuluh) kali Turn Over</li>
                <li>Contoh:</li>
                <li>- Jika member Total kalah Rp 1jt dan telah mencapai Syarat Turnover 10 (Sepuluh) kali, 1jt x Turn Over 10 = Rp 10jt maka cashback 5% sebesar Rp 50,000 ( 50 c) baru dapat dicairkan.</li>
                <li>Pihak Hokibet188 berhak secara sepihak membatalkan bonus apabila ditemukan kesamaan (ip , no telp, no rek, email) dan hal lain yang diperkirakan sama</li>
                <li>Pihak Hokibet188 berhak mengubah atau menambahkan aturan dalam promo ini kapan saja tanpa pemberitahuan terlebih dahulu.keputusan luckybet89.com adalah mutlak dan tidak dapat diganggu gugat</li>
            </ul>    
 


        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                <img src="/images/promo/CashBack-weekly.png">
            </uib-accordion-heading>
            <ul>
                <h4 class="bold">CASH BACK MINGGUAN</h4>
                <h4 class="cap bold">Sportsbook  0.5%</h4>
                <li>Cash Back/Rebate Mingguan diberikan berdasarkan total taruhan di sportsbook</li>
                <li>Cash Back diberikan setiap hari Senin diatas jam 12:00 wib</li>
                <li>Minimal cash back yang diberikan adalah rp 10.000 (10 credit)</li>
                <li>-  Contoh : total bet 2.000 x 0.5%=10 credit</li>
                <li>Semua Hasil Tie/Draw Tidak Masuk Hitungan Komisi/Rollingan.</li>
                <li>Semua Komplain Promo & Bonus, apabila lewat dari seminggu (7 hari) akan kami abaikan.</li>
                <li>Syarat & ketentuan berlaku, apabila kami melihat adanya indikasi kecurangan maka Promo tidak berlaku.</li>
            </ul>  
            <ul>
                <h4 class="bold">CASINO 0.8% </h4>
                <li>Cash Back  Live Casino adalah 0,8%.</li>
                <li>Cash Back/Rebate diberikan berdasarkan jumlah total taruhan real dari senin jam 12:00 sd senin jam 11:59 wib</li>
                <li>-  Contoh : total bet 1.500 x 0.8%=12 credit </li>
                <li>Minimal cash back yang diberikan adalah rp 10.000 (10 credit) dan tidak ada limit maximum.</li>
                <li>Semua Hasil Tie/Draw Tidak Masuk Hitungan Cash Back/Rebate. </li>
                <li>Cash Back  akan dikreditkan ke ID Anda setiap Senin di atas jam 12.00 wib. </li>
                <li>Semua Komplain Promo & Bonus, apabila lewat dari seminggu (7 hari) akan kami abaikan.</li>
            </ul>
            <ul>
                <h4 class="bold">Slot Games 0.8% </h4>
                <li>Cash Back  Slot Games  adalah 0,8%.</li>
                <li>Cash Back  diberikan berdasarkan jumlah total taruhan real dari senin jam 12:00 sd senin jam 11:59 wib </li>
                <li>-  Contoh : total bet 1.500 x 0.8%=12 credit </li>
                <li>Minimal Cash Back yang diberikan adalah rp 10.000 (10 credit) dan tidak ada limit maximum. </li>
                <li>Semua Hasil Tie/Draw Tidak Masuk Hitungan Cash Back/Rebate.</li>
                <li>Cash Back/Rebate  akan dikreditkan ke ID Anda setiap Senin di atas jam 12.00 wib.</li>
                <li>Semua Komplain Promo & Bonus, apabila lewat dari seminggu (7 hari) akan kami abaikan.</li>
            </ul>
            <ul>
                <h4 class="bold">Keno 1% </h4>
                <li>Cash Back  KENO  adalah 1%. </li>
                <li>Cash Back/Rebate diberikan berdasarkan jumlah total taruhan real dari senin jam 12:00 sd senin jam 11:59 wib </li>
                <li>-  Contoh : total bet 1.500 x 1%=15 credit </li>
                <li>Minimal Cash Back yang diberikan adalah rp 10.000 (10 credit) dan tidak ada limit maximum. </li>
                <li>Semua Hasil Tie/Draw Tidak Masuk Hitungan Cash Back/Rebate.</li>
                <li>Cash Back/Rebate  akan dikreditkan ke ID Anda setiap Senin di atas jam 12.00 wib. </li>
                <li>Semua Komplain Promo & Bonus, apabila lewat dari seminggu (7 hari) akan kami abaikan </li>
            </ul>     
        </uib-accordion-group>
    </uib-accordion>
</div>
