<div class="container main-content">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <div class="col-md-5">
                <creditinfo></creditinfo>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="row">
                    <div class="col-md-offset-1">
                        <h3>{{ 'BALANCE_TRANSFER' | translate }}</h3>
                    </div>
                </div>
                <div class="row">
                    <form class="frm-trans transfer-form" name="transferMainToGame">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                Transfer From: <sup class="required">*</sup>
                            </div>
                            <div class="col-md-6">
                                <select ng-change="changeTransferFrom(ticket.origin)" ng-model="ticket.origin" ng-options="transferFrom as transferFrom for transferFrom in transferFroms">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                Transfer To: <sup class="required">*</sup>
                            </div>
                            <div class="col-md-6">
                                <select ng-change="changeTransferTarget(ticket.target)" ng-model="ticket.target" ng-options="transferTo as transferTo for transferTo in transferTos">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                Amount<sup class="required">*</sup>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group col-md-12">
                                    <span class="input-group-addon">{{currentUser.currency}}</span>
                                    <input class="form-control" type="text" ng-model="ticket.amount" placeholder="Amount">
                                </div>
                            </div>
                        </div>
                        <div ng-if="bonus && ticket.target != 'Main Wallet'" class="row">
                            <div class="col-md-11 col-md-offset-1">
                                <input type="checkbox" ng-model="ticket.bonus">
                                <span class="upper">{{ bonus.title}} bonus {{bonus.percentage * 100 + '%'}} Tranfer any time</span>
                                <div class="ip-notice">
                                    * I want to claim bonus with term and conditions. Rollover {{bonus.rolling_time}} Times
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6">
                                <button ng-click="submitTransfer()" class="btn" type="submit">{{ 'SUBMIT' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
